{% extends 'main/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block top %}

<h1>Best Sale from Wildberries</h1>
<form action="{% url 'category' %}" method="post" class="raw">
    {% csrf_token %}
    {{ form }}
    <button type="submit">search</button>
</form>

{% endblock %}

{% block left %}
<div class="sab_category">
 <h3 class="top cat_button"><a href="/category/{{ base_cat.parent }}">{{ parent_cat }}</a></h3>
 <h4 class="this cat_button"><a href="/category/{{ base_cat.id }}">{{ base_cat.name }}</a></h4>
{% for cat in category %}
 <p><a href="/category/{{ cat.id }}">{{ cat.name }}</a>{{ cat.total_views }}</p>
{%endfor%}
</div>
{% endblock %}

{% block center %}
<div class="products">
 <h6>Товары</h6>

{% for prod in products %}
 <div class="prod">

 <p><a href="{{ p.url }}" class="prod_name">{{ prod.name | upper}}</a></p>

  <p class="prod_price">{% widthratio prod.sale_price 100 1 %}(руб.)</p>

  <p class="prod_sale">{{ prod.sale }}%</p>
 </div>
{%endfor%}
</div>
{% endblock %}

{% block right %}
################
{% endblock %}